# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# ENV FILES
# =========================
.env
.env.local
.env.production

# =========================
# LOG FILES
# =========================
logs/
*.log
npm-debug.log*

# =========================
# DOCKER
# =========================
mongo_data/
docker-data/

# =========================
# BUILD FILES
# =========================
dist/
build/

# =========================
# TEMP FILES
# =========================
tmp/
temp/

# =========================
# COVERAGE
# =========================
coverage/

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# AWS / SECURITY
# =========================
*.pem

# =========================
# OPTIONAL
# =========================
.cache/